<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Form Add Kamar</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>Tambah Kamar</h3>-->
<!--<form th:action="@{/kamar/add}"th:object="${kamar}" method = "POST">-->
<!--    Nama Kamar : <br>-->
<!--    <input type="text" name="namaKamar"/>-->
<!--    <br><br>-->
<!--    Tipe Kamar : <br>-->
<!--    <select name="tipe">-->
<!--        <option value="0">Deluxe</option>-->
<!--        <option value="1">Executive</option>-->
<!--        <option value="2">Presidet Suite</option>-->
<!--    </select>-->
<!--    Kapasitas Kamar : <br>-->
<!--    <input type="number" name="kapasitasKamar"/>-->
<!--    <br>-->
<!--    <button type="submit">SUbmit</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Kamar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (brand='Form Add Kamar')"></nav>
<h3>Tambah Kamar</h3>
<form th:action = "@{/kamar/add/} + ${hotel.id}" th:object = "${hotel}" method = "POST">
    <input type = "hidden" th:field = "*{id}"/>
    <table class="table">
        <thead>
        <tr>
            <th>Nama Kamar</td>
            <th>Tipe Kamar</th>
            <th>Kapasitas kamar</th>
            <th>
                <input type="submit" name="addRow" value="Add Row" class="btn btn-primary">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kamar, iterationStatus : *{listKamar}">
            <td><input type="text" th:field="*{listKamar[__${iterationStatus.index}__].namaKamar}"></td>
<!--            <td><input type="text" th:field="*{listKamar[__${iterationStatus.index}__].tipe}"></td>-->
            <td>
                <select th:field="*{listKamar[__${iterationStatus.index}__].tipe}">
                    <option value="0">Deluxe</option>
                    <option value="1">Execution</option>
                    <option value="2">President Suite</option>
                </select>
            </td>
            <td><input type="number" th:field="*{listKamar[__${iterationStatus.index}__].kapasitasKamar}"></td>

            <td>
                <button type="submit" name="removeRow" th:value="${iterationStatus.index}" class="btn btn-danger">Hapus</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" name="save" class="btn btn-primary float-right mx-5">Submit</button>
</form>
</body>
</html>

<!--<form th:action="@{/kamar/add}" th:object="${kamar}" method = "POST">-->
<!--    <input type="hidden" th:field="*{hotel}"/>-->
<!--    Nama Kamar: <br>-->
<!--    <input type="text" name="namaKamar"/>-->
<!--    <br>-->
<!--    Tipe Kamar : <br>-->
<!--    <select name="tipe">-->
<!--        <option value="0">Deluxe</option>-->
<!--        <option value="1">Execution</option>-->
<!--        <option value="2">President Suite</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    Kapasitas Kamar : <br>-->
<!--    <input type="number" name = "kapasitasKamar"/>-->
<!--    <br>-->
<!--    <button type = "submit">Submit</button>-->
<!--</form>-->