<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (brand='Form Update Kamar')"></nav>
<h2>Change Data Hotel</h2>
<form th:action="@{/kamar/change}"th:object="${kamar}" method = "POST">
    <input type="hidden" th:field="*{noKamar}">
    Nama Kamar: <br>
    <input type="text" name="namaKamar" th:value="*{namaKamar}"/>
    <br><br>
    Tipe Kamar : <br>
    <select name="tipe" th:value="*{tipe}">
        <option value="0">Deluxe</option>
        <option value="1">Executive</option>
        <option value="2">Presidet Suite</option>
    </select>
    Kapasitas Kamar : <br>
    <input type="number" name="kapasitasKamar" th:value="*{kapasitasKamar}"/>
    <br><br>
    <button type="submit" name="submit">Submit</button>
</form>
</body>
</html>