<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Hotel</title>
</head>
<body>
<section>
    <h2>Informasi Hotel</h2>
    <h3 th:text="'Id hotel: '+ ${hotel.id}"></h3>
    <h3 th:text="'Nama Hotel: '+ ${hotel.namaHotel}"></h3>
    <h3 th:text="'Alamat Hotel: '+ ${hotel.alamat}"></h3>
    <h3 th:text="'Nomor Telepon: '+ ${hotel.nomorTelepon}"></h3>
    <td><a th:href="@{/hotel/change/}+${hotel.id}">Change Data Hotel</a></td>
</section>
<section>
    <br>
    <td> <a th:href="@{/hotel/remove/}+${hotel.id}"> Delete Hotel </a> </td>
</section>
<section>
    <h3 th:if="${#lists.isEmpty(listKamar)}">Hotel belum memiliki kamar</h3>
</section>
<section>

    <h2 th:unless="${#lists.isEmpty(listKamar)}">Daftar Kamar:</h2>
    <div th:each="kamar: ${listKamar}">
        <h3 th:text="'No Kamar: '+ ${kamar.noKamar}"></h3>
        <h3 th:text="'Nama Kamar: '+ ${kamar.namaKamar}"></h3>

        <h3 th:if="${kamar.tipe == 0}">Tipe : Deluxe</h3>
        <h3 th:if="${kamar.tipe == 1}">Tipe : Executive</h3>
        <h3 th:if="${kamar.tipe == 2}">Tipe : President Suite</h3>

        <h3 th:text="'Kapasitar kamar: '+ ${kamar.kapasitasKamar}"></h3>
        <td><a th:href="@{/kamar/change/}+${kamar.noKamar}">Change Data Kamar</a></td>
        <td><a th:href="@{/kamar/remove/}+${kamar.noKamar}">Remove Kamar</a></td>

    </div><br><br>
    <td><a th:href="@{/kamar/add/}+${hotel.id}">Add Kamar</a></td>
    <br><br>
    <a href="/">Kembali</a>
</section>
</body>
</html>